<div class="sidebar px-3">
    <h4 class="mt-3">Navegación</h4>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/punto1">Punto 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/punto2">Punto 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/punto3">Punto 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/punto4">Punto 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://angular.io/docs" target="_blank">Angular Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/martinmab2/TP3_Practica_Angular_PySW-2025" target="_blank">GitHub</a>
      </li>
    </ul>
  </div>
  